.logo {
    max-height: 50px;
    max-width: 50px;
}

#coffee-logo {
    margin-top: -15px;
}

.served-img {
    max-height: 100px;
    max-width: 100px
}

.served-row {
    border-radius: 20px;
}

#weather-div {
    min-width: 103%;
}

tr .focused-row {
    transform: scale(1.2)
}