.logo {
    max-height: 50px;
    max-width: 50px;
}

#coffee-logo {
    margin-top: -15px;
}

.served-img {
    max-height: 100px;
    max-width: 100px
}

.served-row {
    border-radius: 20px;
}

#weather-div {
    min-width: 103%;
}

tr:hover {
    transform: scale(1.05);
    background-color: rgb(255, 239, 225) !important;
}

table {
    border-collapse: separate !important
}